DOCKER_KOMODO_SMARTCHAIN_NETWORK_SUBNET=172.99.0.0/24
DATA_PATH=/var/data/komodo/coindata/
AC_NAME=JAMJUICE
#AC_ADAPTIVEPOW=1
AC_STAKED=100
AC_REWARD=2500000000
AC_SUPPLY=500000001
AC_PUBKEY=038afbc819aecfb3d65acdf270f755c9279d69d4a27293f10889264b8bd6c1fae2
AC_CC=2
ADD_NODE_1=144.76.148.154
ADD_NODE_2=144.76.148.155
BATCH_SMARTCHAIN_NODE_USERNAME=changeme
BATCH_SMARTCHAIN_NODE_PASSWORD=alsochangeme
BATCH_SMARTCHAIN_NODE_RPC_PORT=56529
BATCH_SMARTCHAIN_NODE_P2P_PORT=56528
BATCH_SMARTCHAIN_NODE_IPV4_ADDR=172.99.0.2
KV1_NAME=KV1JAMJUICE
KV1_SMARTCHAIN_NODE_USERNAME=changeme
KV1_SMARTCHAIN_NODE_PASSWORD=alsochangeme
KV1_SMARTCHAIN_NODE_RPC_PORT=47283
KV1_SMARTCHAIN_NODE_P2P_PORT=47284
KV1_SMARTCHAIN_NODE_IPV4_ADDR=172.99.0.7
POSTGRES_IPV4_ADDR=172.99.0.3
STANDALONE_POSTGRES_IPV4_ADDR=172.99.0.113
IMPORT_API_HOST=172.99.0.4
IMPORT_API_IPV4_ADDR=172.99.0.4
IMPORT_API_PORT=8777
JUICYCHAIN_API_HOST=172.99.0.5
JUICYCHAIN_API_IPV4_ADDR=172.99.0.5
STANDALONE_JUICYCHAIN_API_IPV4_ADDR=172.99.0.115
JUICYCHAIN_API=8999
BLOCKNOTIFY_DIR=/opt/komodo/customer-smartchain-nodes-blocknotify/
BLOCKNOTIFY_CHAINSYNC_LIMIT=5
HOUSEKEEPING_ADDRESS=RS7y4zjQtcNv7inZowb8M6bH3ytS1moj9A
BLOCKNOTIFY_PYTHON_IPV4_ADDR=172.99.0.6
THIS_NODE_PUBKEY=034e7371688894657512c54e146ab72f16fa3222b8199955729da2127d909eff7d
THIS_NODE_WIF=
THIS_NODE_WALLET=RCo4GfehkTJduth4c7bKVxeZ81k8JpGxCd
THIS_NODE_RADDRESS=RCo4GfehkTJduth4c7bKVxeZ81k8JpGxCd
INJECT_IMPORT_API_BATCH_IPV4_ADDR=172.99.0.8
JUICYCHAIN_API_VERSION_PATH=api/v1/
JUICYCHAIN_API_PORT=8999
JUICYCHAIN_EXPLORER_MAINNET_UNCHAIN=jamjuice.explorer.cakeshop.dev
JUICYCHAIN_EXPLORER_MAINNET_UNCHAIN_PORT=443
CUSTOMER_RADDRESS=RByceRzbrCZkkG4VbZiTF9uGsK8ARaSWaC
DISCORD_WEBHOOK_URL=https://discordapp.com/webhooks/
GTID=1234

